/* global.css */

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E7EDF8; /* Cor de fundo do body */
  font-family: 'Chivo', 'Helvetica', 'Arial', sans-serif; /* Fonte padrão para o body */
}

.graph-paper {
  background-image: 
    linear-gradient(to right, #cbd5e1 1px, transparent 1px), 
    linear-gradient(to bottom, #cbd5e1 1px, transparent 1px);
  background-size: 20px 20px; /* Tamanho dos quadrados */
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit; /* Usa a fonte do body */
  color: #2F6AD3; /* Cor primária */
  margin-bottom: 1rem;
}

p {
  font-family: 'Georgia', serif;
  color: #ffffff; /* Texto padrão em branco para contraste */
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  color: #FF588F; 
  text-decoration: none;
}

a:hover {
  color: #2F6AD3; 
}

.card {
  background-color: #1a1a1a; /* Cor de fundo escura para contraste */
  color: #ffffff; /* Texto branco */
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

button {
  background-color: #dbe5f7; /* Fundo branco */
  color: #1a1a1a; /* Texto escuro para contraste */
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #2F6AD3; /* Borda inicial azul */
}

button:hover {
  background-color: #E7EDF8; /* Fundo no hover */
  border-color: #FF588F; /* Borda rosa no hover */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  padding: 4rem 0;
}
