/* global.css */

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EEEEF8; /* Cor de fundo do body */
  font-family: 'Chivo', 'Helvetica', 'Arial', sans-serif; /* Fonte padrão para o body */
}

.graph-paper {
  background-image: 
    linear-gradient(to right, #cbd5e1 1px, transparent 1px), 
    linear-gradient(to bottom, #cbd5e1 1px, transparent 1px);
  background-size: 20px 20px; /* Tamanho dos quadrados */
  animation: moveBackgroundX 3s linear infinite;
}

@keyframes moveBackgroundX {
  from {
    background-position-x: 0px; /* Início na posição 0 */
  }
  to {
    background-position-x: 20px; /* Movendo 20px à direita */
  }
}




h1, h2, h3, h4, h5, h6 {
  font-family: inherit; /* Usa a fonte do body */
  color: #2F6AD3; /* Cor primária */
  margin-bottom: 1rem;
}

p {
  font-family: 'Georgia', serif;
  
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  color: #FF588F; 
  text-decoration: none;
}

a:hover {
  color: #2F6AD3; 
}

.card {
  background-color: #1a1a1a; /* Cor de fundo escura para contraste */
  color: #ffffff; /* Texto branco */
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

button {
  background-color: #dbe5f7; /* Fundo branco */
  color: #1a1a1a; /* Texto escuro para contraste */
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #2F6AD3; /* Borda inicial azul */
}

button:hover {
  background-color: #E7EDF8; /* Fundo no hover */
  border-color: #FF588F; /* Borda rosa no hover */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  padding: 4rem 0;
}

/* CSS para o filtro de imagem */
.image-container {
  position: relative;
  display: inline-block; /* Para que o overlay funcione corretamente */
  overflow: hidden; /* Para garantir que nada "vaze" da borda */
}

.image-container img {
  width: 100%;
  height: auto;
  transition: filter 0.5s ease, transform 0.5s ease; /* Transição suave para o efeito de hover */
  filter: grayscale(100%) sepia(100%) hue-rotate(170deg) saturate(400%) brightness(0.8); /* Ajusta para dar tom azul */
}

.image-container:hover img {
  filter: none; /* Remove o filtro de escala de cinza no hover */
}


.hero {
  background: linear-gradient(120deg, #2F6AD3, #FF588F, #e2e2e2, #f8f8f8, #c5c5c5);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
